<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">

    <h1 th:text="${title}">Default Title</h1>

    <nav th:replace="fragments :: navigation"></nav>

    <form method="post">
        <div th:each="game : ${games}" class="checkbox">
            <input type="checkbox" name="gameIds" th:value="${game.id}" th:id="${game.id}"/>
            <label th:for="${game.id}" th:text="${game.name}"></label>
        </div>
        <input type="submit" value="Remove Game" />
    </form>

    <div th:replace="fragments :: foot"></div>
</body>
</html>